*{
    padding: 0;
    margin:0;
    
    }
    
    .container{
        width:100%;
        height:100vh;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    
    
    }
    
    .button{
        background-color: grey;
        width:200px;
        height:100px;
        border-radius:200px;
        cursor:pointer;
        position:relative;
        transition:0.2s;
    
    }
    
    .button::before{
        position: absolute;
        content:'';
        background-color:orange;
        width:90px;
        height:90px;
        border-radius:200px;
        margin:5px;
        transition:0.2s;
    
    }
    input:checked+ .button{
        background-color:pink;
        
    
    }
    
    input:checked + .button::before{
        transform:translateX(100px);
    }
    
    input{
        display: none;
    }
    
     .container .text{
        position:absolute;
        top: 200px;
        color:yellow;
        font-size:60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
    
     #myDIV{
        position:absolute;
        top: 150px;
        color:yellow;
        font-size:80px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
     }